/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Header styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Section styling */
section {
    margin: 20px 0;
}

section h2 {
    margin-bottom: 10px;
}

.project {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Contact form styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

/* Footer styling */
footer {
    text-align: center;
    margin-top: 20px;
}

/* styles.css */
#projects {
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 50%; /* Asegura que la imagen no exceda el 50% del ancho del contenedor */
    height: auto; /* Mantiene la proporción original */
}

/* Estilos para la flecha */
.back-to-top {
    position: fixed; /* Fija la posición en la pantalla */
    bottom: 20px; /* Posición desde la parte inferior */
    left: 20px; /* Posición desde la parte izquierda */
    display: none; /* Inicialmente oculto */
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.back-to-top:hover {
    background-color: #555; /* Cambio de color al pasar el ratón por encima */
}
